* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 50px 70px 0 70px;
  background-color: #DEEFE7;
  width: 100%;
}
.seta {
  display: block;
  margin: 50px auto;
  width: 30px;
  height: 30px;

}
